# rename this file to .env

DATABASE_URL="postgresql://username:password@localhost:5432/db"

APP_URL=http://localhost:5000

BETTER_AUTH_SECRET=

# Local dev (Mailpit): smtp://127.0.0.1:1025
# Production example: smtps://username:password@smtp.provider.com:465
SMTP_URL=smtp://127.0.0.1:1025